<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Testing Three.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }

        #animationItems {
            transition: transform 0.1s ease;
            background: linear-gradient(135deg, rgba(31, 31, 49, 0.8), rgba(34, 3, 38, 0.5));
            padding: 10px;
            padding-right: 20px;
            margin: 10px;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            z-index: 100;
        }

        #animationList {
            cursor: move;
            position: absolute;
            width: fit-content;
            height: fit-content;
        }

        #animationItems div {
            cursor: pointer;
            color: rgb(255, 255, 255);
            padding: 5px;
            transition: color 0.3s;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        #animationItems div:hover {
            color: rgb(90, 250, 234);
            transition: color 0.3s;
        }
    </style>
</head>

<body>